html, body {
	position: absolute;
	width: 100%;
	height: 100vh;
}
*{
	font-size: 12px;
}

body {
	color: #4b4b4b;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: white;
	background: #3a3a3a;
	text-decoration: none;
	padding: 4px 4px 2px 4px;
}
/*
a:link{
	text-decoration: none;
}
*/

a:hover {
	background: #5177b2;
	/*text-decoration: underline;*/
}

a:active {
	background: #5177b2;
	/*text-decoration: underline;*/
}

a:visited {
	color: white;
}

label {
	display: block;
	color: white;
	width:auto;
	line-height:22px;
	padding: 0px 4px 0px 4px;
	display: inline-block;
}

input, button, select, textarea {
	color: white;
	font-family: inherit;
	/*font-size: inherit;*/
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	border:none;
	background-color:#595959;
    font-size: 12px;
    /*height:22px !important;*/
	/*box-sizing: border-box;*/
	/*border: 1px solid #ccc;*/
	/*border-radius: 2px;*/
}
input{
	line-height:22px;
	height:22px;
	padding: 0px 0px 0px 0px;
}
input[type="number"]{
	line-height:22px;
	height:22px;
	padding: 0px 0px 0px 0px;
	font-size: 12px;
}
input[type="text"]{
	padding: 0px 0px !important;
}

input[type="color"]{
	padding: 0px 0px 0px 0px!important;
}
input[type="checkbox"]{
	/*  Reset to static positioning (ideally, remove the position: absolute; from Bootstrap) */
	position: static;
	/* Properly align using flex */
	align-self: center;
	/* Align in the case where flex doesn't apply (checkbox & radio addons, mostly) */
	vertical-align: middle;
	/* Setting width and height is optional; alignment works without. However, setting it allows for more predictable layouts. */
	min-width: 16px;
	min-height: 16px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

input[type="text"]{ 
	line-height: 22px;
	height: 22px;
}

button {
	color:white;
	font-size: 12px;
	line-height: 12px;
	background-color: #595959;
	outline: none;
	text-decoration: none;
	height:22px;
}

button:hover {
	background-color: #5076b2;
}

button:active {
	background-color: #5177b2;
}

button:focus {
	border-color: #666;
}

.show {
	display: block;
}

#splitterv
{
  width:4px;
  background-color:#002200;
  float:left;
  height:100%;
  position:absolute;
  cursor:w-resize;
}

#splitterh
{
  width:100%;
  background-color:#002200;
  float:left;
  height:4px;
  position:absolute;
  cursor:n-resize;
}
